<div id="headermain"></div>
<nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">



<div class="highlightable">
  <div id="header-wrapper">
    <div id="header">
      {{ partial "header.html" . }}
    </div>
    {{- if not .Site.Params.disableSearch}}
        <div class="searchbox">
		    <label for="search-by"><i class="fa fa-search"></i></label>
		    <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
		    <span data-search-clear=""><i class="fa fa-close"></i></span>
		</div>
		<script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
		<script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
		<script type="text/javascript">
        {{ if .Site.IsMultiLingual }}
            var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
        {{ else }}
            var baseurl = "{{.Site.BaseURL}}";
        {{ end }}
		</script>
		<script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
    {{- end}}
  </div>

      <ul class="topics">
        {{- if not .Site.Params.disableHomeIcon}}
            <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
            <a href="{{"/" | relLangURL}}"><i class="fa fa-fw fa-home"></i></a>
            </li>
        {{- end}}
		
		{{- partial "menu.html" . }}
		
		{{- with .Site.Menus.shortcuts}}
        <section id="shortcuts">
            {{- range sort . "Weight"}}
                <li class="" role="">
                    {{- .Pre -}}
                    {{ if eq .URL "/categories/" }}
                    <a href="{{.URL}}">{{safeHTML .Name}}</a>
                    {{ else }}
                    <a href="{{.URL}}" target="_blank" rel="noopener">{{safeHTML .Name}}</a>
                    {{ end }}
                    {{- .Post -}}
                </li>
            {{- end}}
        </section>

        {{- if $.Site.Params.showVisitedLinks}}
            <a id="clear-history" class="" href="#" data-clear-history-toggle=""><i class="fa  fa-history"></i> {{T "Clear-History"}}</a>
        {{- end}}

		{{- end}}

    <li>{{- partial "language-selector.html" . }}</li>
    
    </ul>

 <section id="footer">
      {{- partial "menu-footer.html" . }}
    </section>
  </div>
</nav>



<section id="body">
<div id="overlay"></div>
<div class="padding highlightable">
{{if not .IsHome}}
  <div id="top-bar">
    {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
      {{ $File := .File }}
      {{ $Site := .Site }}
      {{with $File.Path }}
    <!--
    <div id="top-github-link">
      <a class="github-link" href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
        <i class="fa fa-code-fork"></i>
        {{T "Edit-this-page"}}
      </a>
    </div>
    -->
      {{- end }}
    {{- end -}}

    <div id="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <span id="sidebar-toggle-span">
          <a href="{{.Site.BaseURL}}" id="sidebar-toggle" data-sidebar-toggle="">
              <i class="fa fa-fw fa-home"></i>
              <!-- not working: href="#" and "fa fa-bars" -->
          </a>
        </span>
        <!--<span id="toc-menu"><i class="fa fa-list-alt"></i></span>-->
        <span class="links">
        {{ template "breadcrumb" dict "page" . "value" .Title }}   
        </span>
    </div>
    
    <!-- TOC -->
    <div class="progress">
        <div class="wrapper">
    {{ .TableOfContents }}
        </div>
    </div>
    <!-- /TOC -->

  </div>
{{end}}
{{if .Params.tags }}
  <div id="tags">
    {{ range $index, $tag := .Params.tags }}
      <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}">{{ $tag }}</a>
    {{ end }}
  </div>
{{end}}
<div id="body-inner">
  {{if not .IsHome}}
    <h1>{{.Title}}</h1>
      {{if .IsPage}}
        <h4><em>{{.Params.author}}</em></h4>
        <h5><em>{{.Date.Format "2006-01-02"}}</em></h5>
        <br/>
        
        <!-- attachments -->
        {{ if .Page.File }}

          <!-- PDFattachment -->
          
          <!-- calcul_parallele_r_2017 : PDFattachment without intro -->
          {{ if (eq  .Page.File.BaseFileName "calcul_parallele_r_2017") }}
            <section class="attachments">
        		  <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%s%s.pdf" $.Site.BaseURL $fileDir .Page.File.BaseFileName}}" target="_blank">
        				{{printf "%s.pdf" .Page.File.BaseFileName}}
        		  </a>
            </section>

          <!-- atelier_visualisation_donnees_r_2017, atelier_visualisation_ggplot2_2019,
               tutoriels_etudiants/hiver_2018, tutoriels_etudiants/hiver_2019 : no PDFattachment -->
          {{ else if or (eq .Page.File.BaseFileName "_header") (eq .Page.File.BaseFileName "atelier_visualisation_donnees_r_2017") (eq .Page.File.BaseFileName "atelier_visualisation_ggplot2_2019") (eq .Page.File.BaseFileName "highcharter") (eq .Page.File.BaseFileName "plotly") (eq .Page.File.BaseFileName "ggiraph") (eq .Page.File.BaseFileName "googleVis") (eq .Page.File.BaseFileName "DT") (eq .Page.File.BaseFileName "dygraphs") (eq .Page.File.BaseFileName "rgl") (eq .Page.File.BaseFileName "gganimate") (eq .Page.File.BaseFileName "leaflet") }}

          <!-- all other cases : PDFattachment with intro -->
          {{ else }}
            <section class="attachments">
        		  <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
        		  Version PDF de cette page web :
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%s%s.pdf" $.Site.BaseURL $fileDir .Page.File.BaseFileName}}" target="_blank">
        				{{printf "%s.pdf" .Page.File.BaseFileName}}
        		  </a>
            </section>
          {{ end }}

          <!-- /PDFattachment -->
          
          <!-- ZIPattachment -->
          
          <!-- Some lecture notes -->
          {{ if or (and (fileExists "content/manipulation_donnees/lecture_ecriture_r_2021.zip") (eq  .Page.File.BaseFileName "lecture_ecriture_r_2021")) (and (fileExists "content/manipulation_donnees/pretraitement_donnees_r_2020.zip") (eq  .Page.File.BaseFileName "pretraitement_donnees_r_2020")) -}}
            <br/>
            <section class="attachments">
        		  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        		  Fichier zip contenant les fichiers de données importées dans les exemples :
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%s%s.zip" $.Site.BaseURL $fileDir .Page.File.BaseFileName}}" >
        				{{printf "%s.zip" .Page.File.BaseFileName}}
        		  </a>
            </section>
          {{- end }}

          <!-- Some 2019 tutorials -->
          {{ if (and (fileExists "content/tutoriels_etudiants/hiver_2019/populationVillesCanada.zip") (eq  .Page.File.BaseFileName "DT")) -}}
            <br/>
            <section class="attachments">
        		  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        		  Fichier zip contenant le fichier de données d'extension .rds utilisé dans les exemples :
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%spopulationVillesCanada.zip" $.Site.BaseURL $fileDir}}" >
        				{{printf "populationVillesCanada.zip"}}
        		  </a>
            </section>
          {{- end }}

          {{ if (and (fileExists "content/tutoriels_etudiants/hiver_2019/demographieCanada.zip") (eq  .Page.File.BaseFileName "dygraphs")) -}}
            <br/>
            <section class="attachments">
        		  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        		  Fichier zip contenant le fichier de données d'extension .rds utilisé dans les exemples :
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%sdemographieCanada.zip" $.Site.BaseURL $fileDir}}" >
        				{{printf "demographieCanada.zip"}}
        		  </a>
            </section>
          {{- end }}
          
          <!-- atelier_visualisation_donnees_r_2017 -->
          {{ if (and (fileExists "content/autre_materiel/atelier_visualisation_donnees_r_2017.zip") (eq  .Page.File.BaseFileName "atelier_visualisation_donnees_r_2017")) -}}
            <br/>
            <section class="attachments">
        		  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%s%s.zip" $.Site.BaseURL $fileDir .Page.File.BaseFileName}}" >
        				{{printf "%s.zip" .Page.File.BaseFileName}}
        		  </a>
            </section>
          {{- end }}

          <!-- atelier_visualisation_ggplot2_2019 -->
          {{ if (and (fileExists "content/autre_materiel/atelier_visualisation_ggplot2_2019.zip") (eq  .Page.File.BaseFileName "atelier_visualisation_ggplot2_2019")) -}}
            <br/>
            <section class="attachments">
        		  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        		  {{ $fileDir := replace $.Page.File.Dir "\\" "/" }}
        		  <a href="{{ printf "%s/%s%s.zip" $.Site.BaseURL $fileDir .Page.File.BaseFileName}}" >
        				{{printf "%s.zip" .Page.File.BaseFileName}}
        		  </a>
            </section>
          {{- end }}

          <!-- /ZIPattachment -->

        {{end}}
        <!-- /attachments -->
        
        <br/>
        
      {{end}}    
  {{end}}


{{define "breadcrumb"}}
{{ if .page.Parent}}
{{$value := (printf "<a href='%s'>%s</a> > %s" .page.Parent.Permalink .page.Parent.Title .value)}}
{{ template "breadcrumb" dict "page" .page.Parent "value" $value }} 
{{else}}
 {{.value|safeHTML}}
{{end}}
{{end}}
