table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.column-left{
  float: left;
  width: 60%;
  text-align: left;
}
.column-center{
  display: inline-block;
  width: 2%;
  text-align: center;
}
.column-right{
  float: right;
  width: 38%;
  text-align:left;
}
