{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "Source.BaseFileName" $header }}
	{{ .Content }} 
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
  {{else}}
    <span style="font-size:smaller">
    <a id="logo" href="{{.Site.BaseURL}}">
    <span class="fa fa-gears" style="font-size:large"></span>
    </a>
    {{ T "create-header-md" }}
    </span>
  {{end}}
{{end}}

<link rel="stylesheet" href="{{"css/github-gist-custom.css" | absURL}}" rel="stylesheet" id="theme-stylesheet">
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
