{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "File.BaseFileName" $header }}
	{{ .Content }} 
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
  {{else}}
    <a class="baselink" href="{{.Site.BaseURL}}"><b>Notes du cours<br>STT-4230 / STT-6230<br>R pour scientifique</b></a>
  {{end}}
{{end}}

<link rel="stylesheet" href="{{"css/github-gist-custom.css" | absURL}}" rel="stylesheet" id="theme-stylesheet">
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
    